[core]
  excludesfile = /Users/nakanomizuki/.gitignore_global
  editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
  name = MizukiNakano
  email = mizuki590@gmail.com
[color]
  ui = auto
[alias]
  st = status
  lo = log
  lop = log -p
  lod = log --author=\"$(git config user.name)\" --since=yesterday --format='- %s' --date=iso
  today = log --author=\"$(git config user.name)\" --since=yesterday --format='- %s' --date=iso
  low = log --author=\"$(git config user.name)\" --since=1.week --format='%ad - %s' --date=iso
  week = log --author=\"$(git config user.name)\" --since=1.week --format='%ad - %s' --date=iso
  ad = add
  adp = add -p
  cm = commit
  cmm = commit -m
  # その日の日付でコミットする
  cmt = "!f () { git commit -m \"`date '+%m'`-`date '+%d'`\";}; f"
  amend = commit --amend
  co = checkout
  cob = checkout -b
  com = checkout master
  br = branch
  brd = branch -d
  mr = merge
  mrnf = merge --no-ff
  ps = push
  psm = push origin master
  pl = pull
  df = diff
  rb = rebase
  rbm = rebase master
  rbc = rebase --continue
  rba = rebase --abort
  rs = reset
  rsh = reset --hard
