[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  ignorecase = false
[user]
  name = mi-nakano
  email = mizuki590@gmail.com
[color]
  ui = auto
[merge]
  ff = false
[pull]
  ff = only
[alias]
  st = status
  lo = log
  lop = log -p
  lod = log --author=\"$(git config user.name)\" --since=yesterday --format='- %s' --date=iso
  today = log --author=\"$(git config user.name)\" --since=yesterday --format='- %s' --date=iso
  low = log --author=\"$(git config user.name)\" --since=1.week --format='%ad - %s' --date=iso
  week = log --author=\"$(git config user.name)\" --since=1.week --format='%ad - %s' --date=iso
  ad = add
  adp = add -p
  cm = commit
  cmm = commit -m
  # その日の日付でコミットする
  cmt = "!f () { git commit -m \"`date '+%m'`-`date '+%d'`\";}; f"
  amend = commit --amend
  am = commit --amend
  co = checkout
  cob = checkout -b
  com = checkout main
  br = branch
  brd = branch -d
  mr = merge
  mrnf = merge --no-ff
  mt = mergetool
  ps = push
  pso = push origin
  psom = push origin main
  psm = push origin main
  psfo = push -f origin
  pl = pull
  df = diff
  dfw = diff --color-words
  rb = rebase
  rbm = rebase main
  rbi = rebase -i
  rbim = rebase -i main
  rbc = rebase --continue
  rba = rebase --abort
  rs = reset
  fe = fetch
  prune = fetch --prune
[init]
	defaultBranch = main
