[core]
  excludesfile = /Users/nakanomizuki/.gitignore_global
  editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
  name = MizukiNakano
  email = mizuki590@gmail.com
[color]
  ui = auto
[alias]
  st = status
  lp = log -p
  ad = add
  adp = add -p
  cm = commit
  cmm = commit -m
  amend = commit --amend
  co = checkout
  cob = checkout -b
  com = checkout master
  br = branch
  brd = branch -d
  mr = merge
  mrnf = merge --no-ff
  ps = push
  psm = push origin master
  pl = pull
  df = diff
  rb = rebase
  rbm = rebase master
  rs = reset
  rsh = reset --hard
